.container {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;

    p {
        margin: 0;
    }

    &.right {
        flex-direction: row-reverse;
    }

    &.small {
        font-size: 12px;
        gap: 0px !important;

        svg {
            width: 20px;
        }
    }
}